<div class="signup-container">
    <h2>Sign Up</h2>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="name">Name:</label>
        <input id="name" formControlName="name" type="text" />
        <div *ngIf="signupForm.get('name')?.invalid && signupForm.get('name')?.touched">Name is required</div>
      </div>
  
      <div>
        <label for="contactNumber">Contact Number:</label>
        <input id="contactNumber" formControlName="contactNumber" type="text" />
        <div *ngIf="signupForm.get('contactNumber')?.invalid && signupForm.get('contactNumber')?.touched">
          Contact number should be 10-12 digits.
        </div>
      </div>
  
      <div>
        <label for="email">Email:</label>
        <input id="email" formControlName="email" type="email" />
        <div *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched">Invalid email format</div>
      </div>
  
      <div>
        <label for="password">Password:</label>
        <input id="password" formControlName="password" type="password" />
        <div *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched">Password is required</div>
      </div>
  
      <button type="submit" [disabled]="signupForm.invalid">Sign Up</button>
    </form>
  
    <p *ngIf="message">{{ message }}</p>
  </div>
  