<body class="landing-page">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <div class="card">
        <div class="card-content">
            <div class="form-container">
                <div class="title">Login Form</div>
                <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                    <div class="field">
                        <input id="loginEmail" formControlName="email" type="email" required />
                        <label for="loginEmail">Email Address</label>
                        <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched"
                            class="text-danger">
                            Invalid Email
                        </div>
                    </div>

                    <div class="field">
                        <input id="loginPassword" formControlName="password" type="password" required />
                        <label for="loginPassword">Password</label>
                        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
                            class="text-danger">
                            Password is required
                        </div>
                    </div>

                    <div class="content">

                        <div class="pass-link">
                            <a href="#">Forgot password?</a>
                        </div>
                    </div>

                    <div class="field">
                        <input type="submit" value="Login" [disabled]="loginForm.invalid" />
                    </div>
                    <div class="signup-link">
                        Not a member? <a href="#" routerLink="/signup">Signup now</a>
                    </div>
                </form>
            </div>
            <div class="image-container">
                <img src="assets/d.png" alt="Description" />
            </div>
        </div>
    </div>
</body>